<!DOCTYPE html>
<html>
<head><title>Create Project</title></head>
<body>
  <h1>Create Project</h1>
  <form th:action="@{'/admin/projects/' + ${producerId} + '/create'}" method="post">
    <label>Project Name:</label>
    <input type="text" name="name" style="width:300px;"><br><br>

    <label>Start Date:</label>
    <input type="date" name="startDate" style="width:200px;"><br><br>

    <input type="submit" value="Create Project">
  </form>
  <br>
  <a th:href="@{'/admin/projects/' + ${producerId}}">⬅ Back to Projects</a>
</body>
</html>
